@{
    ViewData["Title"] = "Home Page";
    @*
     c#  @
    *@
    int x = 5;
    string name = "ahmed amr";
}
@if(x > 4)
{
    <h2>hi</h2>
}
else
{
    <h2>welcome</h2>

}
@for(int i = 1; i < 5; i++)
{
    <p>@i</p>
}
<div class="text-center py-5">
    <h1 class="display-4">Welcome @name</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
