


@inject SignInManager<User> _signInManagr

@if (_signInManagr.IsSignedIn(User))
{
    // Login
    <a asp-action="Users" asp-controller="Role" class="btn">Users</a>
    <a asp-action="Roles" asp-controller="Role" class="btn">Roles</a>

    <form asp-action="Logout" asp-controller="Account" >
        <button type="submit" class="btn">Logout</button>
        <span class="text-muted">Hello, @User.Identity.Name</span>
    </form>
}
else
{
    // Logout
<a asp-action="Login" asp-controller="Account" class="btn" >Login</a>
<a asp-action="Register" asp-controller="Account" class="btn" >Register</a>
    
}
