@using MyBlog.domain.Models
@model Post


<h1>Edit Post</h1>
<div class="card">
    <div class="card-header">
        Post - @Model.Id
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Content</p>
        <a asp-action="Posts" class="btn btn-info">Go Back</a>
    </div>
</div>